{% extends "base_generic.html" %}

{% block content %}
    <h1>Animals</h1>
    <h3>{{ theAnimalType }}</h3>
    {% comment %} <h3>User: {{ user.username }}</h3> {% endcomment %}
    <p>animal_list_form.html</p>
    {% if animal_list %}
    <ul>
      {% for ani in animal_list %}
        <li>
          <a href="{% url 'encounters-by-animal' ani.pk %}"> {{ ani.Name }} </a>
        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no animals for this type.</p>
    {% endif %}
{% endblock %}

  
