{% extends "base_generic.html" %}

{% block content %}
    <h1>Encounters</h1>
    <h3>User: {{ user.username }}</h3>
    {% comment %} <p>encounters_list_by_user.html</p> {% endcomment %}
    <p>( 10 most recent )</p>
    {% if encounter_list %}
    <ul>
      {% for enc in encounter_list %}
      <li>
      {% if enc.handling_time == null and enc.crate_time == null  and enc.handling_time == null %}
        <a href="{% url 'encounter-detail' enc.pk %}" style="color:Red">{{enc.encounter_date}} -- {{ enc.animal }} <span class="badge badge-success">Open</span></a>
      {% else %}
        <a href="{% url 'encounter-detail' enc.pk %}" style="color:black">{{enc.encounter_date}} -- {{ enc.animal }} </a>
      {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no encounters for this user.</p>
    {% endif %}
{% endblock %}

  
