{% extends "base_generic.html" %}

{% block content %}
  <h1>Encounters</h1>
  {% comment %} <p>encounter_list.html</p> {% endcomment %}
  {% if encounter_list %}
  <ul>
      {% for enc in encounter_list %}
      <li>
      {% if enc.handling_time == null and enc.crate_time == null  and enc.handling_time == null %}
        <a href="{% url 'encounter-detail' enc.pk %}" style="color:Red">{{enc.encounter_date}} -- {{enc.user}}~{{ enc.animal }} </a>
      {% else %}
        <a href="{% url 'encounter-detail' enc.pk %}" style="color:black">{{enc.encounter_date}} -- {{enc.user}}~{{ enc.animal }} </a>
      {% endif %}
      </li>
      {% endfor %}
   </ul>
  {% else %}
    <p>There are no encounters to display.</p>
  {% endif %}
{% endblock %}
