{% extends "base_generic.html" %}

{% block content %}
  <h1>Encounters</h1>
  {% comment %} <p>in encounter_list_all.html</p> {% endcomment %}
  {% if encounter_list %}
  <ul>
    {% for encounter in encounter_list %}
      <li>
        {{ encounter.encounter_date }} ~ {{encounter.animal}} H:{{encounter.handling_time}} / C:{{encounter.crate_time}} / Hl:{{encounter.holding_time}}
      </li>
    {% endfor %}

   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> 
  </ul>
  {% else %}
    <p>There are no encounters to display.</p>
  {% endif %}
{% endblock %}