{% extends "base_generic.html" %}

{% block content %}
<h1>Update Encounter</h1>
    <p>encounter_update_form.html</p>
        <form method="post">{% csrf_token %}
            
            {{form.as_p}}



            <input type="submit" value="Update">
            <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function ampmFormat(theDate) {
    //console.log('in ampmFormat, theDate= ', theDate);
    var lclDate = new Date(theDate);
    if (lclDate.getHours() > 11) {
        theSuffix = 'PM';
        lclDate.setHours(lclDate.getHours() - 12);
    } else {
        theSuffix = 'AM';
    }
    if (lclDate.getMinutes().toString().length < 2) {
        var theMinuteStr = '0' + lclDate.getMinutes();
    } else {
        theMinuteStr = lclDate.getMinutes();
    }    
    if (lclDate.getHours().toString().length < 2) {
        var theHourStr = '0' + lclDate.getHours();
    } else {
        theHourStr = lclDate.getHours();
    } // don't forget month is zero based
    var theDateStr = (lclDate.getMonth() + 1) + '/' + lclDate.getDate() + '/' + lclDate.getFullYear() + '  ' + theHourStr + ':' + theMinuteStr + ' ' + theSuffix;
    return theDateStr;
}

function getTotalMinutes() {
    console.log('in getTotalMinutes');
    var theEndTime = new Date(document.getElementById('id_endTimeField').value);
    var theStartTime = new Date(document.getElementById('id_encounter_date').value);
    var theMinutes = Math.round((theEndTime - theStartTime)/60000);
    console.log('calculated: ', theMinutes);
    return theMinutes;
}

function reviseEndTime() {
    var theStartTime = new Date(document.getElementById('id_encounter_date').value);

}

$(document).ready(function(){
    //console.log('in document.ready');
    // calculate the total minutes
    var theStartTime = new Date(document.getElementById('id_encounter_date').value);

    // first, if any minutes are already there, use those
    if ((document.getElementById('id_handling_time').value > 0 )  || (document.getElementById('id_crate_time').value > 0 )|| (document.getElementById('id_holding_time').value > 0 )) {
        // some minutes are there; add them up
        console.log('handling:', document.getElementById('id_holding_time').value);
        console.log('found minutes::',document.getElementById('id_handling_time').value,'/',document.getElementById('id_crate_time').value,'/',document.getElementById('id_holding_time').value)
        var theMinutes = Number(document.getElementById('id_handling_time').value) +
            Number(document.getElementById('id_crate_time').value) +
            Number(document.getElementById('id_holding_time').value);
        // and caclulate the time returned
        console.log('theMinutes: ', theMinutes);
        var theEndTime = new Date(theStartTime.getTime() + theMinutes * 60000);
    } else {
        // no minutes there yet; use the current time to calc
        var theEndTime = new Date();
        //console.log ('start:',theStartTime);
        //console.log ('end:',theEndTime);
        //console.log (theEndTime - theStartTime);
        var theMinutes = Math.round((theEndTime-theStartTime) / 60000);       
        // disable crate & holding unless/until handling is changed
        document.getElementById('id_crate_time').disabled = true;
        document.getElementById('id_holding_time').disabled = true;       document.getElementById('id_handling_time').value = theMinutes;
    }
    //console.log('theMinutes:', theMinutes);
    //console.log('theEndTime:', theEndTime);
    document.getElementById('id_totalTimeField').value = theMinutes;

    // format the date
    console.log('end time bewfore formatting:', theEndTime);
    var theDateStr = ampmFormat(theEndTime);
    document.getElementById('id_endTimeField').value = theDateStr;
    console.log('after formatting:', theDateStr);
});

$("#id_handling_time").change(function () {
    //console.log('in id_handling_time.change function');
    //user changed handling time; show crate time and put remaining minutes there IF it is currently disabed
    if (document.getElementById('id_crate_time').disabled == true) {
        var theNewHT = Number(document.getElementById('id_handling_time').value);
        document.getElementById('id_crate_time').disabled = false;
        document.getElementById('id_crate_time').value = Number(document.getElementById('id_totalTimeField').value) - theNewHT;
        document.getElementById('id_crate_time').focus();
    }
})

$("#id_crate_time").change(function() {
    if(document.getElementById('id_holding_time').disabled == true) {
        var theNewHT = Number(document.getElementById('id_handling_time').value);
        var theNewCT = Number(document.getElementById('id_crate_time').value);
        var theTotal = Number(document.getElementById('id_totalTimeField').value);
        document.getElementById('id_holding_time').disabled = false;
        document.getElementById('id_holding_time').value = theTotal - theNewHT - theNewCT;
        document.getElementById('id_holding_time').focus();
    }
})

$("#id_endTimeField").change(function() {
    // user changed the return time; reset to 'open' status
    // first, parse the end time to a date
    var theNewET = new Date(document.getElementById('id_endTimeField').value);

    console.log('the new returned time is: ', theNewET);
    theTotal = getTotalMinutes();
    document.getElementById('id_totalTimeField').value = theTotal;
    document.getElementById('id_handling_time').value = theTotal;
    document.getElementById('id_crate_time').value = '';
    //console.log(document.getElementById('id_crate_time').enabled);
    document.getElementById('id_crate_time').disabled = true;
    //console.log(document.getElementById('id_crate_time').enabled);

    document.getElementById('id_holding_time').value = '';
    document.getElementById('id_holding_time').disabled = true;
    var aStr  = 'Adjusting the Time Returned resulted in a total out time of ' + theTotal + ' minutes, which will be put into the HANDLING field.  You can edit handling, crate and holding if needed.';
    alert(aStr);
})

</script>
    </p>
{% endblock %}