{% extends "base_generic.html" %}

{% block content %}
    <h1>Encounters</h1>
    <h3>User: {{ user.username }}</h3>
    {% comment %} <p>encounters_list_by_user.html</p> {% endcomment %}
    <p>( 10 most recent )</p>
    {% if encounter_list %}
    <ul>
      {% for enc in encounter_list %}
      <li>
      {% if enc.handling_time == null and enc.crate_time == null  and enc.handling_time == null %}
        <a href="{% url 'encounter-detail' enc.pk %}" style="color:Red">{{enc.encounter_date}} -- {{ enc.animal }} </a>
      {% else %}
        <a href="{% url 'encounter-detail' enc.pk %}" style="color:black">{{enc.encounter_date}} -- {{ enc.animal }} </a>
      {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no encounters for this user.</p>
    {% endif %}

    {% if messages %}
    <p>&nbsp&nbsp</p>
    <style>
    .left {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>
<div class='center'>
    {% for message in messages %}
      <div class="message" style=color:red>
      <h4>
          {{ message }}
          <a href="#" class="del-msg">&times;</a>
          </h4>
      </div>
  {% endfor %}
  </div>
{% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      //console.log('in doc.ready');
        // messages timeout for 10 sec 
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 3000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').on('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>
{% endblock %}

  
