{% extends "base_generic.html" %}

{% block content %}
<h1>Update Encounter</h1>
    <p>encounter_update_form.html</p>
        <form method="post">{% csrf_token %}
            
            {{form.as_p}}



            <input type="submit" value="Update">
            <a href="{{ view.get_success_url }}" class="btn btn-secondary">Cancel</a>
        </form>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
    // calculate the total minutes
    // first, if any minutes are already there, use those
    if (document.getElementById('id_handling_time').value < 1 ) {
        // no minutes there yet; use the current time to calc
        var theEndTime = new Date();
        var theStartTime = new Date(document.getElementById('id_encounter_date').value);
        console.log ('start:',theStartTime);
        console.log ('end:',theEndTime);
        var theMinutes = Math.round((((theEndTime-theStartTime) % 86400000) % 3600000) / 60000);
        document.getElementById('id_totalTimeField').value = theMinutes;

    } else {
        console.log('else');
        console.log(document.getElementById('id_handling_time').value);
    }


});


</script>
    </p>
{% endblock %}