{% extends "base_generic.html" %}

{% block content %}
  <h1>Animal Encounters</h1>
  <p>Welcome to Animal Encounters</p>
  <h2>Status</h2>

  <p>The database has the following record counts:</p>
  <ul>
    <li><strong>Animals:</strong> {{ num_animals }}</li>
    <li><strong>Users:</strong> {{ num_users }}</li>
    <li><strong>Encounters:</strong> {{ num_encounters }}</li>
  </ul>
    {% if messages %}
    <p>&nbsp&nbsp&nbsp</p>
    <style>
    .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
</style>
<div class='center'>
    {% for message in messages %}
      <div class="message" style=color:red>
          {{ message }}
          <a href="#" class="del-msg">&times;</a>
      </div>
  {% endfor %}
  </div>
{% endif %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(function() {
      console.log('in doc.ready');
        // messages timeout for 10 sec 
        setTimeout(function() {
            $('.message').fadeOut('slow');
        }, 10000); // <-- time in milliseconds, 1000 =  1 sec

        // delete message
        $('.del-msg').on('click',function(){
            $('.del-msg').parent().attr('style', 'display:none;');
        })
    });
</script>
{% endblock %}